<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>

  <!-- style -->
  <link rel="stylesheet" href="{{ '../assets/css/base.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '../assets/css/head.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '../assets/css/page.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '../assets/css/index.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '../assets/css/mediaQuery.css' | relative_url }}" />

</head>
