<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
  <title>Portfolio</title>

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700|Merriweather:400,300,300italic,400italic,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- style -->
  <link rel="stylesheet" href="{{ '../assets/css/base.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '../assets/css/main.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '../assets/css/header.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '../assets/css/contents.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '../assets/css/detail.css' | relative_url }}" />    
  <link rel="stylesheet" href="{{ '../assets/css/footer.css' | relative_url }}" />    
  <link rel="stylesheet" href="{{ '../assets/css/mediaQuery.css' | relative_url }}" />

</head>