#detail {
  padding: 80px 180px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#detail h1,
#detail h2,
#detail h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
}
#detail h2 {
  position: relative;
  margin-top: 3.5em;
  margin-bottom: 1.1em;
}
#detail h2::after {
  content: "";
  position: absolute;
  top: 1.5em;
  left: 2em;
  transform: translateX(-50%);
  width: 4em;
  height: 4px;
  background-color: #eceff1;
}
#detail .title {
  font-size: 32px;
  margin: 10px 0;
  font-weight: 550;
}
#detail .post {
  font-size: 15.5px;
  margin-top: 10px;
}
#detail .post p{
  margin: 0.5em;
  position: relative;
  color: #4c4c4c;
  line-height: 1.8;
}

/* h3 with margin-top */
.h3-mt {
  margin-top: 2em;
}

/* Table of Contents */
.tblContents {
  width: 100%;
  margin: 4.5em 0 0 0;
}
.tblContents ul {
  padding-left: 1em;
}
.tblContents ul li {
  margin-top: 11px;
  margin-left: 0;
}
.tblContents ul li a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #808080;
  text-indent: 10px;
}
.tblContents ul li a::after {
  content: "";
  display: none;
  width: 0;
  height: 0;
}
.tblContents ul li a:hover::after {
  display: block;
  position: absolute;
  left: 5px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
}
.tblContents ul li ul {
  display: block;
  margin-left: 8px;
}
.tblContents ul li ul li {
  margin-top: 7px;
  font-size: 13px;
}

/* pagination */
.pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.pagination a {
  position: relative;
}
.pagination a.btn-prev,
.pagination a.btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.pagination a.btn-prev {
  margin-right: 20px;
}
.pagination a.btn-next {
  margin-left: 20px;
}
.pagination a.btn-prev::before,
.pagination a.btn-prev::after,
.pagination a.btn-next::before,
.pagination a.btn-next::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 17px;
  top: 50%;
  left: 50%;
  background-color: #c8d7e1;
}
.pagination a.btn-prev::before {
  margin-top: -5px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.pagination a.btn-prev::after {
  margin-top: 5px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.pagination a.btn-next::before {
  margin-top: -5px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.pagination a.btn-next::after {
  margin-top: 5px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.pagination a.btn-prev:hover::before,
.pagination a.btn-prev:hover::after,
.pagination a.btn-next:hover::before,
.pagination a.btn-next:hover::after {
  background-color: #ff5b33;
}

/*img-container*/
.img-container {
  display: flex;
  align-items: center;
  margin: 1em;
  font-size: 15.5px;
  color: #4c4c4c;
  line-height: 1.6;
}

.img-container img {
  flex: 0 0 auto;
  margin-right: 2.8em;
  width: 300px;
}
.img-container ul {
  display: block;
  width: 100%;
}

.img-container ul li {
  margin-bottom: 1em;
  margin-left: 1em;
  font-weight: bold;
  list-style-type: disc;
}
.img-container ul li ul li{
  margin: 0.2em 0;
  margin-left: 30px;
  font-weight: normal;
  list-style-type: circle;
}