#detail {
  padding: 0 180px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#detail h1,
#detail h2,
#detail h3 {
  font-family: "Arial", serif;
  color: #4c4c4c;
}
#detail h2 {
  position: relative;
  margin-top: 6em;
  font-size: 22px;
  background-color: #eceff1;
  padding: 10px;
  border: 1px solid #f4f4f4;
}
#detail h2::after {
  content: "";
  position: absolute;
  top: 2.1em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #A9A9A9;
}

#detail h3 {
  font-size: 19px;
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
}
#detail h3::after {
  content: "";
  position: absolute;
  top: 1.4em;
  left: 0;
  width: 101%;
  height: 3px;
  background-color: #eceff1;
}

#detail .title {
  margin: 5em 0 2em 0;
  font-size: 27px;
  font-style: italic;
}

#detail .post p{
  margin: 0 0.5em 0 0.5em;
  position: relative;
  color: #4c4c4c;
  line-height: 2;
}

#detail .post hr{
  border: 0.1px solid #e8e8e8;
  margin: 2em 0;
}

/* Table of Contents */
.tblContents {
  width: 100%;
}
.tblContents ul {
  padding-left: 1em;
}
.tblContents ul li {
  margin-top: 15px;
  margin-left: 0;
}
.tblContents ul li a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: #808080;
  text-indent: 10px;
  font-weight: bold; 
}
.tblContents ul li a::after {
  content: "";
  display: none;
  width: 0;
  height: 0;
}
.tblContents ul li a:hover::after {
  display: block;
  position: absolute;
  left: 5px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
}
.tblContents ul li ul {
  display: block;
  margin-left: 8px;
}
.tblContents ul li ul li {
  margin-top: 7px;
}
.tblContents ul li ul li a{
  font-size: 15px;
}

/* pagination */
.pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 80px 0 20px 0;
}
.pagination a {
  position: relative;
}
.pagination a.btn-prev,
.pagination a.btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.pagination a.btn-prev {
  margin-right: 20px;
}
.pagination a.btn-next {
  margin-left: 20px;
}
.pagination a.btn-prev::before,
.pagination a.btn-prev::after,
.pagination a.btn-next::before,
.pagination a.btn-next::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 17px;
  top: 50%;
  left: 50%;
  background-color: #c8d7e1;
}
.pagination a.btn-prev::before {
  margin-top: -5px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.pagination a.btn-prev::after {
  margin-top: 5px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.pagination a.btn-next::before {
  margin-top: -5px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.pagination a.btn-next::after {
  margin-top: 5px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.pagination a.btn-prev:hover::before,
.pagination a.btn-prev:hover::after,
.pagination a.btn-next:hover::before,
.pagination a.btn-next:hover::after {
  background-color: #ff5b33;
}

.pagination a.btn-prev span,
.pagination a.btn-next span {
  display: inline; 
  position: absolute;
  top: 50%;
  width: 300px;
  text-decoration: none; 
  font-size: 16px;
  font-family: "Arial", serif;
  font-weight: bold;
  color: #4c4c4c;      
}
.pagination a.btn-prev span {
  transform: translateY(-50%) translateX(-50%);
  text-align: right;
  margin-right: 3em;
}
.pagination a.btn-next span {
  transform: translateY(-50%) translateX(50%);
  text-align: left;
  margin-left: 3em;
}
.pagination a.btn-prev span:hover,
.pagination a.btn-next span:hover {
  color: #0077cc; /* color on hover */
}


/*list-container*/
.list-container {
  margin: 0 1em;
  color: #4c4c4c;
}
.list-container ul {
  display: flex;
  flex-direction: column;
}
.list-container ul li {
  margin: 0 0 0.3em 0.7em;
  font-weight: bold;
  list-style-type: disc;
  font-size: 17px;
  line-height: 1.7;
}
.list-container ul li p {
  font-weight: normal;
  font-size: 15px;
}
.list-container ul li ul li {
  font-weight: normal;
  list-style-type: circle;
  font-size: 15px;
  line-height: 2;
}



/* spaecr */
.small-spacer {
  height: 1em;
}
.half-spacer {
  height: 2.5em;
}
.spacer {
  height: 3em;
}


/* code snippets */
.code-container {
  max-width: 800px; 
  max-height: 450px; 
  overflow-x: auto; 
  overflow-y: auto; 
  margin: 0.5em;
}

.code-snippet {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 1px;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 1.6;
}

/* MathJax 스타일 조정 */
.MathJax_Display, .MathJax_SVG_Display {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto; 
}


/* result-table */
.result-table {
  width: 95%;
  border-collapse: collapse;
  margin: 0.5em 1em;
  font-size: 15px;
  color: #4c4c4c;
}
.result-table th {
  background-color: #f2f2f2;
  padding: 6px 0;
  text-align: center;
  border: 1px solid #ddd;
}
.result-table td {
  padding: 6px 0;
  text-align: center;
  border: 1px solid #ddd;
}
.result-table td ul li {
  margin-left: 0.2em;
  list-style-type: none;
  line-height: 2;
  font-size: 15px;
  text-align: left;
}
.result-table td ul li::before {
  content: '\2022'; 
  font-size: 1em; 
  margin-right: 0.5em; 
}


/* reference */
.reference {
  display: inline-block; 
  position: relative; 
  padding-left: 10px; 
  text-decoration: none; 
  font-size: 15px;
  font-family: "Arial", serif;
  font-style: italic;
  font-weight: bold;
  color: #4c4c4c;    
  letter-spacing: 1px;
  line-height: 2.1; 
}
.reference::before {
  content: '\2022'; /* dot unicode */
  font-size: 15px; /* dot size */
  color: #4c4c4c; /* dot color */
  position: absolute; 
  left: 0; /* align left */
}
.reference:hover {
  color: #0077cc; /* color on hover */
}


/* latex */
.latex-container {
  background-color: #f4f4f4;
  margin: 10px 15px; 
  padding: 8px;
  color: #4c4c4c;
  text-align: center;
}
.latex-equation {
    font-size: 14px; 
    margin: 10px 0;
    display: inline-block;
    white-space: nowrap;
}
.equation-item {
    margin: 15px 0;
}


/* callout */
.callout {
    background-color: #f4f4f4; 
    padding: 20px 30px; 
    margin: 2em;
    border-radius: 5px; 
}
.callout p {
  font-size: 15px;
}
.callout .highlighted-text {
    position: relative;
    display: inline-block;
}

.callout .highlighted-text::before {
    content: '\F0EB'; 
    font-family: 'Font Awesome 6 Free';
    font-size: 17px;
    color: orange; /* 아이콘 색상 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.callout .highlighted-text::after {
  content: "";
  position: absolute;
  top: 2.2em;
  left: 0;
  width: 110%;
  height: 1.5px;
  background-color: orange;
}
.callout .highlighted-text span {
    padding-left: 25px;
    font-weight: bold;
    font-size: 17px;
    color: orange; 
}


/* dual-container */
.dual-container {
  display: flex;
  align-items: center;
  color: #4c4c4c;
  line-height: 1.6;
}
.dual-container img {
  flex: 0 0 auto;
  margin-right: 2.8em;
  width: 300px;

}
.dual-container ul {
  display: block;
  width: 100%;
}
.dual-container ul li {
  margin-left: 1em;
  font-weight: bold;
  list-style-type: disc;
}
.dual-container ul li ul li{
  margin: 0.2em 0;
  margin-left: 30px;
  font-weight: normal;
  list-style-type: circle;
}

.gray-box {
  background-color: #f4f4f4; 
  margin: 0 10px; 
  padding: 1.3em 1.9em;
  line-height: 1;
  color: #4c4c4c;  
}

.chapter-box {
  padding: 2em;
  border-left: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
}