/* info */
.contents .info {
  width: 100%;
  padding: 8em 4em 5em;
  box-sizing: border-box;
}
.contents .info h2,
.contents .info p,
.contents .info .btn-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents .info h2 {
  width: 100%;
  text-align: center;
  font-size: 48px;
  line-height: 1.1;
  font-family: "Arial", serif;
  font-weight: 700;  
  font-stretch: expanded;
}
.contents .info p {
  color: #666666;
  font-size: 1.15em;
  line-height: 1.7;
  width: 60%;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  padding: 2.7em 0 2em 0;
  margin: auto;
}
.contents .info .btn-block a {
  position: relative;
  font-size: 18px;
  line-height: 1.33;
  color: #2E4453;
  font-weight: 600;
  padding: 12px 35px;
  border: solid 1px #d5e0e7;
  border-radius: 4px;
  margin: 0 0.5em;
}


/* .container */
.contents .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5em;
  flex-direction: column;
}

/* .container .full-width */
.contents .container .full-width {
  flex: 1;
  padding: 0 4em;
}
.contents .container .full-width h3 {
  position: relative;
  font-size: 25px;
  color: #4c4c4c;
  margin-bottom: 0.5em;
  font-family: "Arial", serif;
  font-weight: 700;  
  font-stretch: expanded;
}
.contents .container .full-width h3::after {
  content: '';
  position: absolute;
  top: 1.4em;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ECEFF1;
}
.contents .container .full-width p {
  padding: 0.5em;
  color: #666666;
  font-size: 1.15em;
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
}


/* .container .parallel */
.contents .container .parallel {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
}

.contents .container .parallel h3 {
  position: relative;
  color: #4c4c4c;
  font-size: 19px;
  margin-bottom: 0.5em;
  font-family: "Arial", serif;
  background-color: #ECEFF1;
  text-align: center;
}

.contents .container .parallel h3::after {
  content: '';
  position: absolute;
  top: 1.4em;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ECEFF1;
}

.contents .container .parallel .parallel-item {
  width: 48%;
  margin: 2em 1em;
  box-sizing: border-box;
}

.contents .container .parallel .parallel-item p {
  margin: 0.1em 0.3em 1em 0.3em;
}
.contents .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents .container ul li {
  flex: 1 1 50%;
  box-sizing: border-box;
  color: #4c4c4c;
  line-height: 1.8;
}
.contents .container ul li span.txt {
  display: block;
  margin-bottom: 1.5em;
}
.contents .container ul li .btn-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1em;
}
.contents .container ul li .btn-list a {
  flex: 1 1 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 0.8;
  padding: 10px 0;
  border-radius: 4px;
  color: #2E4453;
  font-weight: 600;
  border: solid 1px #d5e0e7;
}
.contents .container ul li .btn-list a + a {
  margin-left: 15px;
}
.contents .container ul li .tags,
.contents .container ul li .tags span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contents .container ul li .tags {
  flex-wrap: wrap;
  margin-bottom: calc(1em + 10px);
}
.contents .container ul li .tags span {
  color: #9eb1bd;
  background-color: #ECEFF1;
  padding: 0.5em 1.3em;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 13px;
}
.contents .container ul li .tags span:last-child {
  margin-right: 0;
}
.contents .container ul li .inner {
  margin: 0 0 0 2.5em;
}
.contents .container dl.type-right ul {
  flex-direction: row-reverse;
}
