<!DOCTYPE html>
<html lang="ko">
  
  {% include head.html %}

  <body>
    <div id="container">
      <!-- s : header -->
      <header>
        <h1><a href="{{ '/index' | relative_url }}">Portfolio</a></h1>
      </header>
      <!-- e : header -->

      <div class="contents">
        <div class="content">

          {{ content }}
        
        </div>
        <!-- s : footer -->
        <footer>
          <a href="#" class="btn-copyright">© 2023 MoonGhi Song</a>
          <a href="#" class="btn-top"></a>
        </footer>
        <!-- e : footer -->
      
    </div>
  </body>
  
</html>